Package: ws.hbang.folderblur
Name: FolderBlur
Depends: mobilesubstrate
Version: 1.0~beta2
Architecture: iphoneos-arm
Description: Blur wallpaper when opening folders
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Section: Tweaks
